.header {
    display: flex;
    justify-content: space-between; /* Выравнивание по центру с прижатием логотипа к левому краю, а языков к правому */
    align-items: center; /* Выравнивание элементов по вертикали */
    max-width: 1184px; /* Ширина блока */
    height: 52px; /* Высота блока */
    margin: 28px auto 56px; /* Верхний отступ 28px, автоматические боковые отступы */
    padding:0; /* Убираем внутренние отступы */
    
}